# Introduction to Python

## Python Comment

In [1]:
# This is a single line comment

In [2]:
"""
This is a
multi line
comment 
in python
"""

'\nThis is a\nmulti line\ncomment \nin python\n'

## Python Variables

In [3]:
# Assigning values to variables
age = 35
name = "Jon Doe"
is_student = True
cgpa = 3.33

## Python Data Types

In [4]:
# Integer type
num=10
print(type(num))

<class 'int'>

In [5]:
# Float type
pi = 3.14
print(type(pi))

<class 'float'>

In [6]:
# String type
str = "ML"
print(type(str))

<class 'str'>

In [7]:
# boolean type
is_true = False
print(type(is_true))

<class 'bool'>

## Python Casting

In [8]:
#Specify a variable type
x = int(1)
y = int(2.5)
z = int("5")

In [9]:
print(x)
print(y)
print(z)

1
2
5

In [10]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

## Python Input/Output

In [11]:
# Taking user input
name = input()
print(name)

jon snow
jon snow

In [12]:
# Taking user input
name = input("Enter your name: ")
print(name)

Enter your name: ihsanul
ihsanul

In [13]:
# input type
number = input("Enter any number: ")
print(number)
print(type(number))

Enter any number: 12
12
<class 'str'>

In [14]:
# Reading numeric inputs
num = float(input("Enter a number: "))
print(type(num))
print(num)

Enter a number: 1
<class 'float'>
1.0

In [15]:
# Taking multiple inputs in a single line
x,y = input("Enter two number: ").split()
print(x,y)

Enter two number: 2 3
2 3

## Python Strings

In [16]:
# Single quoted string
single = 'ML'
# Double quoted string
double = "ML"

print(single,double)

ML ML

In [17]:
# String concatanation
str1 = "ML"
str2 = "CSE"
print(str1,'',str2)

ML  CSE

In [18]:
print(str1,'',str2,sep='',end='?')
print(str1,'',str2,sep='-',end='!')

MLCSE?ML--CSE!

In [19]:
# Length
len(str1)

2

In [20]:
# Length
len(str2)

3

In [21]:
print(len(str1))
print(len(str2))

2
3

In [22]:
len(str1)
len(str2)

3

In [23]:
a = 1
b = 2
print(a)
print(b)

1
2

In [24]:
a
b

2

In [25]:
x = 5
x

5

In [26]:
str1 = "ML"
str1[1]

'L'

In [27]:
# String Slicing
course_name = "Machine Learning"
print(course_name[0:5])
print(course_name[1:6])

Machi
achin

In [28]:
course_name.upper()

'MACHINE LEARNING'

In [29]:
course_name.lower()

'machine learning'

In [30]:
course_name.find("L")

8

In [31]:
test = "    dsjkfdsgf   "
test.strip()

'dsjkfdsgf'

## Python Lists

In [47]:
# Creating an empty list
empty_list = []
print(empty_list)
print(len(empty_list))
print(type(empty_list))

[]
0
<class 'list'>

In [49]:
list1 = [1,2,3]
list2 = ['a','b','c', 'd']
list3 = [4,'e',True, 3.14]

print(list1)
print(list2)
print(list3)

[1, 2, 3]
['a', 'b', 'c', 'd']
[4, 'e', True, 3.14]

In [50]:
# indexing
print(list3[1])
print(list2[2])

e
c

In [51]:
# Slicing
num = [1,2,3,4,5,6]
print(num[0:4])
print(num[:3])
print(num[1:4])
print(num[::2])

[1, 2, 3, 4]
[1, 2, 3]
[2, 3, 4]
[1, 3, 5]

In [53]:
# List operations
num.append(7)
num

[1, 2, 3, 4, 5, 6, 7, 7]

In [55]:
num.remove(7)
num

[1, 2, 3, 4, 5, 6]

In [56]:
num.extend([7,8])
num

[1, 2, 3, 4, 5, 6, 7, 8]

In [57]:
num.pop()

8

In [58]:
num

[1, 2, 3, 4, 5, 6, 7]

In [59]:
len(num)

7

In [60]:
num.reverse()
num

[7, 6, 5, 4, 3, 2, 1]

In [61]:
num.sort()
num

[1, 2, 3, 4, 5, 6, 7]

## For Loop

In [62]:
# Understanding range
range(3)

range(0, 3)

In [63]:
range(1,3)

range(1, 3)

In [64]:
# For loop syntax
for i in range(5):
    print(i)

0
1
2
3
4

In [65]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [67]:
for j in range(1,6):
    print(j)

1
2
3
4
5

In [68]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [69]:
# Looping with list
fruits = ['apple', 'banana', 'cherry']
for i in fruits:
    print(i)

apple
banana
cherry

In [70]:
students = ['Jon Doe', 'Karim', 'Hasan', 'Ihsanul']
for name in students:
    print('Hi!,',name)

Hi!, Jon Doe
Hi!, Karim
Hi!, Hasan
Hi!, Ihsanul

In [71]:
# Using Enumeratre with for loop
for index, name in enumerate(students):
    print('Student',index,':',name)

Student 0 : Jon Doe
Student 1 : Karim
Student 2 : Hasan
Student 3 : Ihsanul

In [72]:
# using len
for i in range(len(students)):
    print(i)

0
1
2
3

In [74]:
# Appending list
heights = [1.75, 1.68, 1.80, 1.60]
weights = [68, 71, 85, 59]
bmi_values = []

# Calculation
for i in range(len(heights)):
    bmi = round(weights[i] / (heights[i] ** 2), 2)
    bmi_values.append(bmi)
print(bmi_values)

[22.2, 25.16, 26.23, 23.05]

## While Loop

In [75]:
i = 1
while i<=5:
    print(i)
    i += 1

1
2
3
4
5

## Python Tuples

* Ordered
* Unchangeable
* Allow duplicates
* Data typle 'tuple'

In [76]:
empty_tup = ()
print(empty_tup)
print(type(empty_tup))
print(len(empty_tup))

()
<class 'tuple'>
0

In [77]:
# Accessing tuple items
my_tuple = (1,2,3,True,'Hi')
print(my_tuple)
print(my_tuple[1])
print(my_tuple[3])

(1, 2, 3, True, 'Hi')
2
True

In [78]:
# Unpacking tuple
num_tup = (1,2,3)
a,b,c = num_tup
print(a,b,c)

1 2 3

In [79]:
# Duplicates
tup1 = (1,1,2,2,3)
tup1

(1, 1, 2, 2, 3)

In [80]:
# Immutable nature of tuples
num = (1,2,3)
# Trying to change an item
num[1] = 4

TypeError: 'tuple' object does not support item assignment

In [81]:
# Trying to add an element
num.append(4)

AttributeError: 'tuple' object has no attribute 'append'

## Python Set
* Unordered
* Unchangebale
* Do not allow duplicates
* Data type 'set'

In [82]:
set1 = {1,2,3}
print(set1)
print(type(set1))

{1, 2, 3}
<class 'set'>

In [83]:
my_set = {10,20,20,30,'apple', 3.14, False}
for item in my_set:
    print(item)

False
3.14
20
apple
10
30

In [84]:
# Checking unchangable
# But you can add/remove items
my_set1 = {1,2,3,4,54}
print(my_set1)

{1, 2, 3, 4, 54}

In [85]:
my_set1.add(10)
my_set1

{1, 2, 3, 4, 10, 54}

In [86]:
my_set[0] = 20

TypeError: 'set' object does not support item assignment

## Python Dictionary
* Key : Value pair structure
* Ordered (from python version 3.7)
* Changable
* Do not allow duplicates

In [87]:
car = {
    'brand' : 'BMW',
    'model' : 'M3',
    'year' : 1999
}

car

{'brand': 'BMW', 'model': 'M3', 'year': 1999}

In [88]:
print(type(car))

<class 'dict'>

In [89]:
print(car['brand'])

BMW

In [90]:
print(car['model'])

M3

In [91]:
# List values with dict
students = {
    'name' : ['Jon Snow', "Ihsanul HAque", "Mark"],
    'cgpa' : [3.3, 3.1, 3.0],
    'address' : ['USA', 'Bangladesh', 'UK']
}

students

{'name': ['Jon Snow', 'Ihsanul HAque', 'Mark'],
 'cgpa': [3.3, 3.1, 3.0],
 'address': ['USA', 'Bangladesh', 'UK']}

In [92]:
students['name']

['Jon Snow', 'Ihsanul HAque', 'Mark']

In [93]:
for name in students['name']:
    print(name)

Jon Snow
Ihsanul HAque
Mark

In [94]:
# Add elements to a dict
students['major'] = ['Politics', 'BNP', "BAL"]

In [95]:
students

{'name': ['Jon Snow', 'Ihsanul HAque', 'Mark'],
 'cgpa': [3.3, 3.1, 3.0],
 'address': ['USA', 'Bangladesh', 'UK'],
 'major': ['Politics', 'BNP', 'BAL']}

In [96]:
# Removing
del students['major']

In [97]:
students

{'name': ['Jon Snow', 'Ihsanul HAque', 'Mark'],
 'cgpa': [3.3, 3.1, 3.0],
 'address': ['USA', 'Bangladesh', 'UK']}

In [98]:
# Dictionary methods
key = students.keys()
value = students.values()
items = students.items()

In [99]:
print(key)

dict_keys(['name', 'cgpa', 'address'])

In [100]:
print(value)

dict_values([['Jon Snow', 'Ihsanul HAque', 'Mark'], [3.3, 3.1, 3.0], ['USA', 'Bangladesh', 'UK']])

In [101]:
print(items)

dict_items([('name', ['Jon Snow', 'Ihsanul HAque', 'Mark']), ('cgpa', [3.3, 3.1, 3.0]), ('address', ['USA', 'Bangladesh', 'UK'])])

## Conditional Statements

In [102]:
a = 8
if a > 10:
    print('a is greater than 10')
elif a > 5:
    print('a is greater than 5 but not greater than 10')
else:
    print('a is not greater than 5')

a is greater than 5 but not greater than 10

In [103]:
# Nesting if stetements
num = 12
if num > 10:
    print("Number is greater than 10")
    if num%2 == 0:
        print('Number is also even')
    else:
        print('Number is not even')
else:
    print("Not greater then 10")

Number is greater than 10
Number is also even

## Python Functions

In [104]:
def greet():
    print("Hi there!")

greet()

Hi there!

In [105]:
# Appending list
heights = [1.75, 1.68, 1.80, 1.60]
weights = [68, 71, 85, 59]
bmi_values = []

# Function for calculating BMI
def BMI(height, weight):
    return round(weights[i] / (heights[i] ** 2), 2)

for i in range(len(heights)):
    bmi = BMI(heights[i], weights[i])
    bmi_values.append(bmi)
    
print(bmi_values)

[22.2, 25.16, 26.23, 23.05]

## Variable Scope

In [113]:
# Global var
global_var = 10

# Function accesing global variable
def my_func():
    local_var = 5
    print(f"Local variable: {local_var}")
    print('Global variable:', global_var)

In [114]:
my_func()

Local variable: 5
Global variable: 10

In [115]:
# Trying to access local variable outside the function
print(local_var)

NameError: name 'local_var' is not defined