# Load Housing Dataset

**california_housing_dataset:** https://scikit-learn.org/stable/modules/generated/sklearn.datasets.fetch_california_housing.html

In [1]:
from sklearn.datasets import fetch_california_housing

# Load the housing dataset
housing = fetch_california_housing()
X, y = housing.data, housing.target

# Print the shapes
print(X.shape)
print(y.shape)
# Print types
print(type(X))
print(type(y))

(20640, 8)
(20640,)
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

In [2]:
from sklearn.datasets import fetch_california_housing

# Load the housing dataset as dataframe
X_df, y_df = fetch_california_housing(return_X_y=True, as_frame=True)
# X, y = housing.data, housing.target

# Print the shapes
print(X_df.shape)
print(y_df.shape)
# Print types
print(type(X_df))
print(type(y_df))

(20640, 8)
(20640,)
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [3]:
# Convert X and y to pandas DataFrames Manually
# import pandas as pd
# X_df = pd.DataFrame(X, columns=housing.feature_names)
# y_df = pd.Series(y, name='target')
X_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [4]:
y_df.head()

0    4.526
1    3.585
2    3.521
3    3.413
4    3.422
Name: MedHouseVal, dtype: float64

# KFold Cross Validation
Documentation: https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.KFold.html

In [5]:
import numpy as np
from sklearn.model_selection import KFold
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Define the number of folds for cross-validation
k = 5
kf = KFold(n_splits=k, shuffle=True, random_state=42)

# Initialize an empty list to store the mean squared errors
mse_scores = []

fold_count = 0
# Perform K-fold cross-validation
for train_index, test_index in kf.split(X_df):
  X_train, X_test = X_df.iloc[train_index], X_df.iloc[test_index]
  y_train, y_test = y_df.iloc[train_index], y_df.iloc[test_index]

  # Train a linear regression model
  model = LinearRegression()
  model.fit(X_train, y_train)

  # Make predictions on the test set
  y_pred = model.predict(X_test)

  # Calculate the mean squared error and append it to the list
  mse = mean_squared_error(y_test, y_pred)
  fold_count += 1
  print("Fold",fold_count,",MSE",mse)
  mse_scores.append(mse)

# Calculate the average mean squared error
average_mse = np.mean(mse_scores)
print("(CV) Average Mean Squared Error:", average_mse)

Fold 1 ,MSE 0.5558915986952438
Fold 2 ,MSE 0.5276562547736339
Fold 3 ,MSE 0.5092832097248646
Fold 4 ,MSE 0.5048507784142167
Fold 5 ,MSE 0.5551804780114856
(CV) Average Mean Squared Error: 0.5305724639238889

# Load Iris Dataset
Doc: https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_iris.html

In [6]:
from sklearn.datasets import load_iris

# Load the Iris dataset
iris = load_iris()
X = iris.data
y = iris.target

# Print the shapes
print(X.shape)
print(y.shape)
# Check type
print(type(X))
print(type(y))

(150, 4)
(150,)
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

# KFold CV
Using DT Model, Iris Dataset, cross_val_score library

In [7]:
import numpy as np
from sklearn.model_selection import KFold, cross_val_score
from sklearn.tree import DecisionTreeClassifier

# Initialize the Decision Tree classifier
clf = DecisionTreeClassifier()

# Define the number of folds for K-fold cross-validation
k = 5

# Initialize KFold cross-validation
kf = KFold(n_splits=k, shuffle=True, random_state=42)

# Perform K-fold cross-validation and compute the scores
scores = cross_val_score(clf, X, y, cv=kf)

# Print the cross-validation scores
print("Cross-validation scores:", scores)

# Print the mean and standard deviation of the scores
print("Mean accuracy:", np.mean(scores))

Cross-validation scores: [1.         0.96666667 0.93333333 0.93333333 0.93333333]
Mean accuracy: 0.9533333333333335

# Leave-One-Out Cross-Validation
LeaveOneOut: https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.LeaveOneOut.html

In [8]:
from sklearn.model_selection import LeaveOneOut
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier

# Initialize the logistic regression model
model = DecisionTreeClassifier()

# Initialize Leave-One-Out Cross-Validation
loo = LeaveOneOut()

# Perform cross-validation
scores = cross_val_score(model, X, y, cv=loo)
print("Number of iterations:",len(scores))

# Print the cross-validation scores
print("Cross-validation scores:", scores)

# Calculate and print the mean accuracy
accuracy = scores.mean()
print("Mean Accuracy:", accuracy)

Number of iterations: 150
Cross-validation scores: [1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1.
 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1.]
Mean Accuracy: 0.9466666666666667

# Stratified K-Fold Cross-Validation
Doc: https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.StratifiedKFold.html

In [9]:
from sklearn.model_selection import StratifiedKFold, cross_val_score
from sklearn.tree import DecisionTreeClassifier

# Initialize the Decision Tree classifier
clf = DecisionTreeClassifier()

# Define the number of folds for Stratified K-fold cross-validation
k = 5

# Initialize StratifiedKFold cross-validation
skf = StratifiedKFold(n_splits=k, shuffle=True, random_state=42)

# Perform Stratified K-fold cross-validation and compute the scores
scores = cross_val_score(clf, X, y, cv=skf)
print("Number of iterations:",len(scores))

# Print the cross-validation scores
print("Cross-validation scores:", scores)

# Calculate and print the mean accuracy
accuracy = scores.mean()
print("Mean Accuracy:", accuracy)

Number of iterations: 5
Cross-validation scores: [1.         0.96666667 0.93333333 0.96666667 0.9       ]
Mean Accuracy: 0.9533333333333335

# SKFold CV Manually

In [10]:
from sklearn.datasets import load_iris

# Load the Iris dataset
X_df, y_df = load_iris( return_X_y=True, as_frame=True)

# Print the shapes
print(X_df.shape)
print(y_df.shape)

# Check type
print(type(X_df))
print(type(y_df))
X_df.head()

(150, 4)
(150,)
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [11]:
y_df.value_counts()

target
0    50
1    50
2    50
Name: count, dtype: int64

In [12]:
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier

# Initialize Stratified K-Fold with 5 folds
skf = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)

# Lists to store accuracy scores
accuracy_scores = []

# Perform Stratified K-Fold Cross-Validation
for fold, (train_index, test_index) in enumerate(skf.split(X_df, y_df), 1):
  X_train, X_test = X_df.iloc[train_index], X_df.iloc[test_index]
  y_train, y_test = y_df.iloc[train_index], y_df.iloc[test_index]

  # Print unique values and their counts
  print(y_train.value_counts())
  print(y_test.value_counts())

  # Initialize the Decision Tree classifier
  model = DecisionTreeClassifier()
  # Fit the model on training data
  model.fit(X_train, y_train)

  # Predict on the test data
  y_pred = model.predict(X_test)

  # Calculate accuracy and append to list
  accuracy = accuracy_score(y_test, y_pred)
  accuracy_scores.append(accuracy)
  print("Accuracy:", accuracy)
  print("-----------------------------")

# Calculate and print the average accuracy
avg_accuracy = np.mean(accuracy_scores)
print("Average Accuracy:", avg_accuracy)

target
0    40
1    40
2    40
Name: count, dtype: int64
target
0    10
1    10
2    10
Name: count, dtype: int64
Accuracy: 1.0
-----------------------------
target
0    40
1    40
2    40
Name: count, dtype: int64
target
0    10
1    10
2    10
Name: count, dtype: int64
Accuracy: 0.9666666666666667
-----------------------------
target
0    40
1    40
2    40
Name: count, dtype: int64
target
0    10
1    10
2    10
Name: count, dtype: int64
Accuracy: 0.9333333333333333
-----------------------------
target
0    40
1    40
2    40
Name: count, dtype: int64
target
0    10
1    10
2    10
Name: count, dtype: int64
Accuracy: 0.9666666666666667
-----------------------------
target
0    40
1    40
2    40
Name: count, dtype: int64
target
0    10
1    10
2    10
Name: count, dtype: int64
Accuracy: 0.9
-----------------------------
Average Accuracy: 0.9533333333333335